ECE143, Spring 2018

Prof. Unpingco

Group 14

# Scraping Crime Data

### Overview

- SANDAG and the justice department publish a lot of their data in .pdf format.
- There are .csv format tables available, but it is difficult to tell the browser program what data to include/exclude.
- We need to convert the tables in the PDFs into pandas tables or numpy arrays before we can combine the crime data with the influencing variables (e.g. weather, homelessness, income, etc.).
- Relevant functions are being produced in the `cleantables.py` module.

### Step 1: Convert PDF to CSV

- If we can get the files as a simple text, then we can use regular expressions and the like to more easily parse out the data.
- We want to do this step in python rather than by hand since there are potentially many files form which we can extract the data. Doing so in a batch format would be ideal and the most replicable.
- The first python module I found is [`tabula`-py](https://github.com/chezou/tabula-py). It has a function `convert_into_by_batch()` which converts every file in a directory into CSV format.
    - Tabula-py is a wrapper for a java program. To get this to work, java must already be installed.
    - Install from command line with `pip install tabula-py`

In [3]:
#Example: Converting my class schedule into a CSV
#Note: Kernel's current directory is 'ECE-143-Group-14', which contains the 'TEST' direectory
import tabula as tab

tab.convert_into_by_batch( "TEST", output='csv') #CSV is default, just being explicit
#The one PDF file in TEST is "SP18 sched.pdf"
#Also contians a normal .txt file, which gets ignored

with open('TEST\\SP18 sched.csv', 'r') as sched: #Check the resulting CSV
    for i in range(5):
        print next(sched) #see first five lines

"",Monday,Tuesday,Wednesday,Thursday,,Friday,Saturday,Sunday

"",,11:00 - 12:20 Enrolled,,1 1:00 - 12:20 Enrolled,,,,

11am,,CHEM  151,,CHEM  151,,,,

"",,LE / NSB 2303,,LE / NSB 2303,,,,

"",,"Weizma n, Haim",,"Weizma n, Haim",,,,

- Manually saving each table from \[insert file name(s)\] as a separate PDF into the sub-directory \[insert dir name\].
- For each PDF, a file with extension '.csv' will be created. New CSV files that share names with old ones will replace the older versions.
- Saved some PDF tables published by the [CJSC](https://oag.ca.gov/cjsc/pubs) covering California statewide data going back to 1952 and San Diego region-specific data going back to 2013. Saved under the `"crime_data"` directory.

Note: "ARJISPublicCrime041818.txt" is a CSV downloaded directly from the [SANDAG website](http://www.sandag.org/index.asp?classid=14&subclassid=21&projectid=446&fuseaction=projects.detail). It is ignored by the tabula module.

In [4]:
#Converting PDF data tables to CSV
#Current directory is "ECE-143-Group-14"
import tabula as tab
import os

tab.convert_into_by_batch( "crime_data", output='csv')
datafiles = os.listdir("crime_data") #list out file names
for data in datafiles:
    print data #View all of the data files saved

ARJISPublicCrime041818.txt
CAcrimeIndex52-96_cjsc.csv
CAcrimeIndex52-96_cjsc.pdf
CAcrimes66-15_cjsc.csv
CAcrimes66-15_cjsc.pdf
SDjurisdiction_2013_cjbulletin.csv
SDjurisdiction_2013_cjbulletin.pdf
SDjurisdiction_2014_cjbulletin.csv
SDjurisdiction_2014_cjbulletin.pdf
SDjurisdiction_2015_cjbulletin.csv
SDjurisdiction_2015_cjbulletin.pdf
SDjurisdiction_2016_cjbulletin.csv
SDjurisdiction_2016_cjbulletin.pdf
SDjurisdiction_2017_cjbulletin.csv
SDjurisdiction_2017_cjbulletin.pdf

- Checking the output from `tabula.convert_into_by_batch()` in Excel to clearly see how tabula organized the rows and columns.
    - Statewide data:
![alt text](https://github.com/YijingLi0726/ECE-143-Group-14/blob/scraping-crime-data/Crime%20Scraping%20Process/CAexcel_screencap.png?raw=true, 'Statewide Excel Screencap')
    - County regional data:
![alt text](https://github.com/YijingLi0726/ECE-143-Group-14/blob/scraping-crime-data/Crime%20Scraping%20Process/SDexcel_screencap.png?raw=true,'SD Excel Screencap')
    - General observations
        - Captions below and titles above the tables are removed.
        - Multi-line column headers are split into different rows.
        - Did not split crime rates from the total counts, which were in separate columns within the same cell in the original PDF.
        - In the state data, there are a few empty spacer columns.

- The UCSD daily police logs are provided as one PDF per day, going back through the past months. I would like to have a program go through and download each one for me instead of doing so myself.
    - The URLs are pretty straightforward as far as format:
```
http://www.police.ucsd.edu/docs/reports/CallsandArrests/CallsForService/[month]%20[day],%20[year].pdf
```
    - For example, the report for May 5, 2018 would be:
```
http://www.police.ucsd.edu/docs/reports/CallsandArrests/CallsForService/May%205,%202018.pdf
```

----

## Step 2: Converting CSV Files into Pandas Data Tables

- To most easily collapse and split the data from the CSV, we want to manipulate these files as pandas data tables.
- The main function used to do this for the crime data is `cleantables.batch_clean_tab_csv()`.

#### `cleantables.batch_clean_tab_csv()`
**Description:** Processes CSV files into pandas dataframes. Requires many inputs, but provides fairly customizable control over what and how files get processed.

**Parameters**

**csvs:** *list of str*
- File paths by which the function may access CSV files.
- Order is especially relevant if year specified outside of the table (see `by_year`).

**heads:** *list of str, default=[ ]*
- List of desired column headers for the dataframe output.
- Must be exactly the same length as the number of columns in the FINAL dataframe, as applied after the dataframe is contructed.
- Function requires that each column have a unique label.

**hrow:** *int, >= 0, default=3*
- The row immediately one index prior, or above one row above, the data values.
- Default is set to 3 due to this being the correct header row for CSVs derived from [CJSC documents](https://oag.ca.gov/cjsc/pubs).
- If the headers found in this row are unsatisfactory (e.g. they contain excape characters, headers are missing, multi-line headers) see `heads`.

**by_year:** *list of int, default=range(2013,2018)*
- Specifies year that each CSV covers. Matches according to index in list, so order is important.
- Default values come from the years for which CJSC publilshed annual crime summaries subdivided into each jurisdiction.
- The length of this list must be the same as the length of the CSV file list input in `csvs`.

 
**Output:** *pandas DataFrame*
- Cleaned and organized data from the CSV output of tabula-py.
- If `by_year` was a non-empty list, the output would have two indicies, one for year and one for row number. Otherwise, only the row index is used.

In [3]:
#Used the os module to go to directory 'ECE-143-group-14'
import pandas as pd
from cleantables import batch_clean_tab_csv
sd_jurisdiction_crime = batch_clean_tab_csv(
    ['crime_data\\SDjurisdiction_2013_cjbulletin.csv','crime_data\\SDjurisdiction_2014_cjbulletin.csv',
     'crime_data\\SDjurisdiction_2015_cjbulletin.csv','crime_data\\SDjurisdiction_2016_cjbulletin.csv',
     'crime_data\\SDjurisdiction_2017_cjbulletin.csv'],
    #Name the CSVs that we need to combine into one dataframe; working with San Diego County data
    heads=['jurisdiction','homicide','rape','robbery','aggravated_assault','residential_burglary',
           'non-residential_burglary','total_burglary','larceny>$400','larceny>=$400',
           'total_larceny','motor_vehicle_theft','arson','FBI_crime_index','CA_crime_index'],
    #Name all of the column headings that are in the tables
    hrow=3,
    #Designate the row where the headings will be inserted
    splitcol=[],
    #State data was not separated correctly, but the SD tables did not have this issue
    by_year=range(2013,2018)
    #The years were removed with the table titles, so we put this is as well
    )
print sd_jurisdiction_crime

                                    jurisdiction  homicide     rape robbery  \
year row
2013 0                                  Carlsbad       1.0       23      44
     1                               Chula Vista       2.0       29     248
     2                                  Coronado       0.0        2       4
     3                                  El Cajon       2.0       29     143
     4                                 Escondido       6.0       39     201
     5                                   La Mesa       1.0        7      64
     6                             National City       1.0       11     137
     7                                 Oceanside       9.0       41     182
     8                                 San Diego      39.0     3 16   1,456
     9                           Sheriff - Total       9.0     1 63     554
     10                                  Del Mar       0.0        1       3
     11                                Encinitas       1.0        9      21
     12                           Imperial Beach       1.0        6      25
     13                              Lemon Grove       1.0        8      45
     14                                    Poway       0.0        8      16
     15                               San Marcos       0.0       19      62
     16                                   Santee       0.0        5      31
     17                             Solana Beach       0.0        1       5
     18                                    Vista       1.0       28     140
     19                           Unincorporated       5.0      7 8     206
     20                                 4S Ranch       0.0        0       3
     21                                   Alpine       0.0        3       7
     22                                Fallbrook       1.0       17      14
     23                                 Lakeside       0.0       10      19
     24                                   Ramona       0.0        5       5
     25                            Spring Valley       1.0       11      74
     26                            Valley Center       1.0        3      12
     27                            Other Sheriff       0.0        7       6
     28                California Highway Patrol       0.0        0       1
     29   California State University San Marcos       0.0        1       0
...                                          ...       ...      ...     ...
2017 5                                   La Mesa       3.0       11      50
     6                             National City       3.0       23     109
     7                                 Oceanside       9.0       69     165
     8                                 San Diego      35.0      559   1,410
     9                           Sheriff - Total      24.0      227     562
     10                                  Del Mar       0.0        1       0
     11                                Encinitas       0.0       13      23
     12                           Imperial Beach       1.0        5      34
     13                              Lemon Grove       1.0        4      55
     14                                    Poway       0.0        8      13
     15                               San Marcos       0.0       25      54
     16                                   Santee       0.0       11      43
     17                             Solana Beach       0.0        3       4
     18                                    Vista       4.0       38     104
     19                           Unincorporated      18.0      119     232
     20                                 4S Ranch       0.0        2       3
     21                                   Alpine       1.0        5       6
     22                                Fallbrook       0.0       10      20
     23                                 Lakeside       0.0        9      20
     24                                   Ramona       1.0        9      10
     25                            Spring Valley       4.0       20     104
     26                            Valley Center       4.0        9      11
     27                            Other Sheriff       1.0       13       8
     28                California Highway Patrol       0.0        1       1
     29   California State University San Marcos       0.0        5       0
     30               San Diego State University       0.0        2      11
     31                             UC San Diego       0.0        2       2
     32                  San Diego Harbor Police       0.0        4      11
     33                   California State Parks       0.0        0       0
     34                                    Total      80.0  1  ,098  3 ,013

         aggravated_assault residential_burglary non-residential_burglary  \
year row
2013 0                  153                  300                      225
     1                  316                  607                      364
     2                    5                   41                       16
     3                  212                  301                      192
     4                  350                  431                      286
     5                  109                  221                      132
     6                  165                  115                      173
     7                  402                  488                      189
     8                3,492                4,045                    2,310
     9                2,131                2,056                    1,285
     10                  12                   14                       20
     11                  96                  148                      110
     12                 101                   93                       32
     13                  91                   73                       47
     14                  66                   90                       80
     15                 133                  166                      133
     16                 120                   81                       89
     17                  21                   62                       31
     18                 276                  183                      207
     19               1,215                1,146                      536
     20                   9                   23                       20
     21                  48                   79                       40
     22                  95                  113                       70
     23                 124                  117                       47
     24                  68                   53                       41
     25                 197                  225                       69
     26                  61                   75                       61
     27                 249                    2                        4
     28                   8                    2                        2
     29                   3                    2                        7
...                     ...                  ...                      ...
2017 5                   96                   94                       83
     6                  161                   68                       64
     7                  450                  311                      281
     8                3,218                2,390                    1,427
     9                1,886                1,234                    1,074
     10                  11                   16                       22
     11                  70                  115                       93
     12                  93                   52                       17
     13                 111                   57                       36
     14                  37                   61                       75
     15                 116                   85                      117
     16                 101                   55                       54
     17                   6                   26                       42
     18                 224                  126                      184
     19               1,117                  641                      434
     20                   8                   21                       19
     21                  44                   24                       20
     22                  93                   89                       74
     23                 119                   48                       53
     24                  51                   27                       29
     25                 229                  116                       55
     26                  86                   42                       45
     27                 269                    2                        6
     28                  31                    1                        7
     29                   1                    0                        0
     30                   2                   25                       48
     31                   5                    4                       21
     32                  47                    3                       38
     33                   5                    2                        5
     34               7,098                5,267                    3,853

         total_burglary larceny>$400 larceny>=$400 total_larceny  \
year row
2013 0              525          596           840         1,436
     1              971        1,280         2,252         3,532
     2               57          224           246           470
     3              493          568         1,207         1,775
     4              717          870         1,606         2,476
     5              353          483           898         1,381
     6              288          454           735         1,189
     7              677        1,219         2,198         3,417
     8           6 ,355        8,956        10,274        19,230
     9           3 ,341        3,313         4,857         8,170
     10              34           84            50           134
     11             258          367           385           752
     12             125           90           138           228
     13             120           97           182           279
     14             170          156           204           360
     15             299          325           606           931
     16             170          278           610           888
     17              93          103            77           180
     18             390          442           884         1,326
     19          1 ,682        1,371         1,721         3,092
     20              43           49            60           109
     21             119           94           128           222
     22             183          132           213           345
     23             164          216           245           461
     24              94           64           104           168
     25             294          158           230           388
     26             136          111            93           204
     27               6            4            14            18
     28               4            9            26            35
     29               9           17            39            56
...                 ...          ...           ...           ...
2017 5              177          337           486           823
     6              132          285           382           667
     7              592        1,053         1,947         3,000
     8            3,817        7,924         9,370        17,294
     9            2,308        2,828         4,065         6,893
     10              38           56            39            95
     11             208          321           330           651
     12              69           71           140           211
     13              93          139           283           422
     14             136          156           233           389
     15             202          305           479           784
     16             109          197           468           665
     17              68           81            61           142
     18             310          325           564           889
     19           1,075        1,177         1,468         2,645
     20              40           59            60           119
     21              44           48            75           123
     22             163          110           146           256
     23             101          145           159           304
     24              56           56            86           142
     25             171          212           323           535
     26              87          105            92           197
     27               8           23            51            74
     28               8            8            36            44
     29               0            4            15            19
     30              73          130           330           460
     31              25          225           337           562
     32              41          258           158           416
     33               7           24            27            51
     34          9 ,120      1 6,103       2 1,839       3 7,942

         motor_vehicle_theft  arson FBI_crime_index CA_crime_index
year row
2013 0                   124   10.0           2,306            870
     1                   781   35.0           5,879          2,347
     2                    28    4.0             566             96
     3                   462   17.0           3,116          1,341
     4                   772   12.0           4,561          2,085
     5                   233    3.0           2,148            767
     6                   416    7.0           2,207          1,018
     7                   400   24.0           5,128          1,711
     8                 6,143  178.0          37,031         17,801
     9                 1,798   49.0          16,166          7,996
     10                   11    0.0             195             61
     11                   71    1.0           1,208            456
     12                  101    3.0             587            359
     13                  110    2.0             654            375
     14                   45    2.0             665            305
     15                  170    7.0           1,614            683
     16                  107    3.0           1,321            433
     17                   21    0.0             321            141
     18                  329    6.0           2,490          1,164
     19                  833   25.0           7,111          4,019
     20                   11    0.0             175             66
     21                   45    0.0             444            222
     22                   46    0.0             701            356
     23                  128    0.0             906            445
     24                   34    0.0             374            206
     25                  224    0.0           1,189            801
     26                   36    0.0             453            249
     27                   81    0.0             367            349
     28                   66    0.0             114             79
     29                    1    0.0              70             14
...                      ...    ...             ...            ...
2017 5                   193    7.0           1,353            530
     6                   358   11.0           1,453            786
     7                   496   22.0           4,781          1,781
     8                 5,135  158.0          31,468         14,174
     9                 1,701   59.0          13,601          6,708
     10                   13    0.0             158             63
     11                   66    2.0           1,031            380
     12                   84    1.0             497            286
     13                  103    0.0             789            367
     14                   51    3.0             634            245
     15                  150    4.0           1,331            547
     16                   92    1.0           1,021            356
     17                   19    0.0             242            100
     18                  295    9.0           1,864            975
     19                  828   39.0           6,034          3,389
     20                    8    0.0             180             61
     21                   48    0.0             271            148
     22                   80    0.0             622            366
     23                  120    0.0             673            369
     24                   33    0.0             302            160
     25                  214    0.0           1,277            742
     26                   50    0.0             444            247
     27                   27    0.0             400            326
     28                   62    0.0             147            103
     29                    1    1.0              26              7
     30                   14    1.0             562            102
     31                   17    9.0             613             51
     32                    4    0.0             523            107
     33                   10    1.0              73             22
     34                9,731  353.0         6 8,082        3 0,140

[175 rows x 15 columns]

In [5]:
#Pickling the data for team members' use
import cPickle as pickle
pickle.dump( sd_jurisdiction_crime, open( "SanDiego_crime_by_jurisdiction.p", "wb" ) )

In [6]:
#Checking if the data is now accessible via the pickle
import pandas as pd
sd_crime = pickle.load( open( "SanDiego_crime_by_jurisdiction.p", "rb" ) )
print sd_crime[:3] #Checking the first three rows and formatting
print bool(sd_crime.shape == sd_jurisdiction_crime.shape)

         jurisdiction  homicide rape robbery aggravated_assault  \
year row
2013 0       Carlsbad       1.0   23      44                153
     1    Chula Vista       2.0   29     248                316
     2       Coronado       0.0    2       4                  5

         residential_burglary non-residential_burglary total_burglary  \
year row
2013 0                    300                      225            525
     1                    607                      364            971
     2                     41                       16             57

         larceny>$400 larceny>=$400 total_larceny motor_vehicle_theft  arson  \
year row
2013 0            596           840         1,436                 124   10.0
     1          1,280         2,252         3,532                 781   35.0
     2            224           246           470                  28    4.0

         FBI_crime_index CA_crime_index
year row
2013 0             2,306            870
     1             5,879          2,347
     2               566             96
True

**More Processing for Statewide Data**

- The PDF data tables summarizing crime in CA from 1952 to 2015 contain crime rates and counts within the same column.
- We need to split these columns apart to get the useful data, and we want to control exactly which columns need splitting.
- `cleantables.split_columns()` will take care of this issue.
    - Note: In development, this function was encapsulated within the batch extraction function, but that proved to be rather unweildy.
    - This function takes in the ouptut from `cleantables.batch_clean_tab_csv()` and puts out the same data frame, but with all of the data values in individual cells.

#### `cleantables.split_columns()`

**Description:** If multiple data values are in a single solumn from the tabula output, splits up and renames these columns.

**Parameters**

**inFrame:** *pandas DataFrame*
- Input DataFrame to have its columns split up

**splitcol:** *list of int, len > 0*
- A non-empty list of indices for columns to be split by word
- The left-most column is index 0, and the index increases by 1 moving to the right.
- Ignores column headings already in the input DataFrame.
- Each column indicated should contain datatype object.
- If the column indicated contains cells with only one word, the one word will go to the rightmost column of the expansion, and the remaining columns contain `None`.

**heads:** *list of str, default=[]*
- A list of new headings, if desired, for the output dataframe
- If left at the default of an empty list, the output headings will be set to numerical integer indices increasing from zero by one moving to the right.
- Will not accept the headings if the output file has a different number of columns than expected. Take a look at the PDF from which the DataFrame is interprted.

**Output:** *pandas DataFrame*
- The same as the original input DataFrame, but with desired columns split up into separate columns by word in object
- Makes sure that the row index remains exactly the same as in the input.